<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Database</title>
	{% extends 'navbar.html' %}

	{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/tableformatting.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/historyheader.css' %}">
	<style type="text/css">
		body{
			background: url('{% static "img/newbgwide.png" %}') ;
			background-size: 100% 100%;
		}

	</style>
	<script type="text/javascript">
		//Obtained from https://www.youtube.com/watch?v=LkVA3AWmkQQ
		function tablecolors() {
			jQuery('tr:visible').filter(':odd').css({'background-color': '#b3e8cd'});
			jQuery('tr:visible').filter(':even').css({'background-color': '#f5fdfa'});
		}
		
	</script>
</head>

<body onload="tablecolors()" >

	<div id='headerbox'>
		<div id='outercontainer'>
			<div id='container'>
				<form method="POST" action="{% url 'late_history' %}">{% csrf_token %}
					<div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Student's surname or email" aria-label="Recipient's username"aria-describedby="basic-addon2" name='searchedstudent' id='searchbar'>
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary" name="search">Search</button>
						</div>
					</div>	
				</form>

				<div>
					{% if searchedstudent %}
						{% if searchedstudent|length < 15 %}
							<h1> Results for '{{ searchedstudent }}'</h1>
						{% else %}
							<h4>{{ searchedstudent }}</h4>
						{% endif %}
						
					{% else %}
					 	<h4>Search nothing to see all results</h4>
					{% endif%}
				</div>
			</div>
		</div>

		<div id='buttonbox' >
			<form method="post" action='{% url "exportpdfhistory" %}'>{% csrf_token %}
				<button id='generatepdf' type="submit" name="exportpdflates">Export as PDF</button>
			</form>
		</div>
	</div>
	
	<div id='tablebox'>
		<table class="table table-striped" id='studenttable'>
		  <thead>
		    <tr>
				
				<th style="width:10%"> CN </th>
				<th style="width:40%"> Email</th>
				<th style="width:10%"> Grade </th>
				<th style="width:10%"> Section </th>
				<th style="width:10%"> Late Dates </th>
				<th style="width:10%"> Submit Time </th>
				<th style="width:10%" > Total Lates </th>
				<!--<th style="width:10%"> Total Late </th>
				
				<th style="width:5%"> SPR </th>
				<th style="width:5%"> Sex </th>-->
			</tr>
		  </thead>
		  <tbody>
		  {% for result in results %}
				<tr>
					<td>{{ result.student.classnumber }}</td>
					<td>{{ result.student.email }}</td>
					<td>{{ result.student.grade }} </td>
					<td>{{ result.student.section}}</td>
					<td>{{ result.latedate }}</td>
					<td>{{ result.submittime }}</td>
					<td>{{ result.student.lates }}</td>
					<!--
					<td>{{ instance.lates }}</td>
					<td>{{ instance.absents }}</td>
					<td>{{ instance.spr }}</td>
					<td>{{ instance.sex }}</td>-->
				</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div>
	
	<div id='tenbox'></div>

	<script type="text/javascript">
		var submissionpage = document.getElementById('latehistory');
		submissionpage.style.backgroundColor = '#016634'
		submissionpage.style.color = 'white'

		var currentpage = document.getElementById('navbarDropdownAttendance');
		currentpage.style.backgroundColor = 'white'
		currentpage.setAttribute('class',"nav-link dropdown-toggle text-success justify-content-center")
	</script>
	{% endblock %}
</body>
</html>