<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student Database</title>
	{% extends 'navbar.html' %}

	{% block content %}
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/tableformatting.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/attendanceheader.css' %}">
	
	<style type="text/css">
		body{
			background: url('{% static "img/newbgwide.png" %}') ;
			background-size: 100% 100%;
		}
	</style>
	
</head>

<body>

	<div id='headerbox'>
		<div id='outercontainer'>
			<div id='container'>
				<h1>Student Database</h1>
				<form method="POST" id='attendanceform'>{% csrf_token %}
					{{ attendancerecord.grade }}
					{{ attendancerecord.section }}
					{{ attendancerecord.submitted.label }}
					{{ attendancerecord.submitted }}<br id='hiddenbreak'>
					{{ attendancerecord.notsubmitted.label }}
					{{ attendancerecord.notsubmitted }}<br>
					<input type="submit" name="totalattendance" id='filterbutton' value='Filter'>
				</form>
			</div>
		</div>

		<div id='buttonbox' >
			<form method="post" action='{% url "exportpdftotalattendance" %}'>{% csrf_token %}
				<button id='generatepdf' type="submit" name="exportpdftotal">Export as PDF</button>
			</form>
		</div>
	</div>
	

	
	<div id='tablebox'>
		<table class="table" id='studenttable'>
		  <thead>
		    <tr>
				<th style="width:10%"> LRN </th>
				<th style="width:10%"> CN </th>
				<th style="width:40%"> Email</th>
				<th style="width:10%" id='notneeded'> Grade </th>
				<th style="width:10%" id='notneeded'> Section </th>
				<th style="width:10%"> Total Late </th>
				<th style="width:10%" > Total Absent </th>
				<th style="width:5%"> SPR </th>
				<th style="width:5%"> Sex </th>
			</tr>
		  </thead>
		  <tbody>
		    {% for instance in object_list %}
				<tr>
					<td>{{ instance.lrn }}</td>
					<td>{{ instance.classnumber }}</td>
					<td>{{ instance.email }}</td>
					<td id='notneeded'>{{ instance.grade }} </td>
					<td id='notneeded'>{{ instance.section}}</td>
					<td>{{ instance.lates }}</td>
					<td>{{ instance.absents }}</td>
					<td>{{ instance.spr }}</td>
					<td>{{ instance.sex }}</td>
				</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div>
	
	<div id='tenbox'></div>

	<script type="text/javascript">
		var submissionpage = document.getElementById('database');
		submissionpage.style.backgroundColor = '#016634'
		submissionpage.style.color = 'white'

		var currentpage = document.getElementById('navbarDropdownAttendance');
		currentpage.style.backgroundColor = 'white'
		currentpage.setAttribute('class',"nav-link dropdown-toggle text-success justify-content-center")
	</script>

	<script type="text/javascript">
		generatepdf = document.getElementById('generatepdf')
		generatepdf.onclick = function submitget(){
			document.getElementById('formtest').submit()
			
		}
	</script>
	{% endblock %}
</body>
</html>

