body{
	height: 100%;
}
#outsidebox{
	display: flex;
	flex-direction: column;
	height: 80%;
}
#formlabel{
	font-size: 30px;
	font-weight: bold;
	color: white;
}
#formbox form{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	

	padding-top: 10px;
	padding-bottom: 10px;
	
	text-align: center;
	background-color: #016634;
	color: white;
}
input{
	background-color: white;
	color: black;
	text-align: center;
	border: none;

	height: 50px;
	width: 60%;
	font-weight: bold;
}
#submitbutton{
	width: 100px;
}
#messages{
	width: 500px;
	height: 100px;
	border: 5px solid black;
	background: #b3e8cd;
	display: flex;
	
}
#messages > div{
	margin-right: auto;
	margin-left: auto;

	font-size: 30px;
	font-weight: bold;
}
.errorlist{
	background-color: #e63d3d;
	width: 75%;
	height: 40px;
	margin-left: auto;
	margin-right: auto;

	align-items: center;
	text-align: left;
	justify-content: center;

	border: 3px solid white;
}
.errorlist>li{
	color: black;
	font-weight: bold;
	text-transform: uppercase;
}
#checkbox{
	height: 20px;
	width: 20px;
	border: none;
}
@media all and (max-width: 450px) {
    	/* put your css styles in here */
    #formbox{
    	width: 100%;
    }
    #formbox form{
    	width: 100%;
    	
    }
    #messages{
    	width: 100%;
    	text-align: center;
    	
}