<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		#studentformbox{
			height: 300px;
			width: 30%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border: 1px solid red;
			
		}
		#studentformbox form{
			width: 50%;
			display: block;
			margin-left: auto;
			margin-right: auto;
			border: 1px solid black;
			text-align: center;
		}
		.paddingbox{
			padding-top: 50px;
			
			
		}

	
	</style>
</head>
<body> 
	{% extends 'navbar.html' %}

	{% block content %}
	
	
	<div class='paddingbox'>
		<div id='studentformbox'>
			<form method='POST'>{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value='save' />
			</form>	
		</div>	
	</div>
	
		

	<script type="text/javascript">
		var submissionpage = document.getElementById('newstudent');
		submissionpage.style.backgroundColor = 'darkblue'
		submissionpage.style.color = 'white'
	</script>
	{% endblock %}
</body>
</html>